<div class="form-container border-black">
  <h1 class="h1">please add a new food &#8595;</h1>

  <%= render "shared/form", food: @food %>

  <button class="back"><%=link_to 'Back to foods', root_path %></button>
<div>