.add-btn {
  margin-left: 63rem;
  margin-bottom: 6rem;
  margin-top: 1rem;
  border: 3px solid black;
  border-radius: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.form-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.form-group input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.back {
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(106, 106, 221);
  margin: 5px;
}

.back:hover {
  color: blue;
  cursor: pointer;
}

.submit-form {
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(106, 106, 221);
  margin: 5px;
}

.submit-form:hover {
  color: blue;
  cursor: pointer;
}

.h1 {
  color: blue;
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
}